@import "../../../index.scss";
.product-cart {
  width: 280px;
  height: 320px;
  box-shadow: 0px 2px 10px 2px #dadada;
  background-color: #fff;
  z-index: 2;
  padding: 1rem;

  .product-items {
    padding: 0;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;

    .item {
      display: flex;
      position: relative;
      img {
        width: 40px;
        height: 60px;
        margin-right: 10px;
      }
      .title {
        white-space: nowrap;
        width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i {
        position: absolute;
        right: 0px;
        top: 24px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: all 0.3s;
        }
      }
    }
  }

  .checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .total {
      color: green;
      margin: 0;
    }
  }
}

.not-added {
  font-size: 3rem;
  font-family: $light-font;
  color: red;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 2rem 1rem;
  text-align: center;
}
