@import "../../../index.scss";

.product-detail-modal {
  .product-title {
    font-family: $light-font;
    font-size: 3rem;
    font-weight: 100;
    text-transform: capitalize;
  }

  .product-price {
    margin: 0;
    color: green;
  }

  .product-details {
    padding: 0;
    margin: 2.5rem 0;
    li {
      font-size: 16px;
      list-style-type: none;
      margin: 4px 0;
      display: flex;

      .type {
        font-weight: bold;
        color: green;
        margin-right: 8px;
      }
    }
  }

  .product-quntity-form {
    input {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #eee;
      outline: none;
      border: none;
      padding: 1rem;
      font-size: 20px;
    }
  }
}
