@import "../../../index.scss";

.logo-bar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  background-color: #fff;

  .nav-logo {
    text-transform: uppercase;
    font-family: $light-font;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .re-cart {
    display: flex;
    align-items: center;
    cursor: pointer;

    .cart {
      font-size: 16px;
      margin-right: 1rem;
      text-transform: uppercase;
    }

    .items {
      font-size: 20px;
      text-transform: uppercase;
      font-family: $light-font;
      letter-spacing: 1px;
    }
  }

  .product-cart {
    position: absolute;
    right: 0px;
    top: 60px;
  }
}
