@import "../../../index.scss";

.book-navbar {
  display: flex;
  justify-content: space-between;

  &::after {
    display: none;
  }

  a {
    padding: 6px 12px;
  }
  .active-nav-link {
    color: white;
    background-color: $blue;
    border-radius: 4px;
  }
}

.ui.menu:after {
  content: none;
  display: none;
}
